:root {
  --yellow-point: #fdd835;
  --padding-left: 164px;
  --white-color: #ffffff;
  --black-color: #242424;
}

.white {
  background-color: var(--white-color);
  color: var(--black-color);
}

.black {
  background-color: var(--black-color);
  color: var(--white-color);
}

.main-bold {
  font-weight: bold;
  font-size: 50px;
  line-height: 70px;
}

.bold {
  font-weight: bold;
  font-size: 50px;
  line-height: 5px;
}

.normal {
  font-size: 24px;
  line-height: 35px;
}

.yellow-point {
  color: var(--yellow-point);
}

.main-title {
  padding: 275px 0px 275px var(--padding-left);
}

.aboutme-title {
  padding: 150px 0px 50px var(--padding-left);
}

.education-title {
  padding: 275px 0px 50px var(--padding-left);
  padding-top: 500px;
}

.experience-title {
  padding: 150px 0px 0px var(--padding-left);
}

.contact-title {
  padding: 150px 0px 0px var(--padding-left);
}

.policy-title {
  padding: 10px 0px 0px var(--padding-left);
}

.value {
  padding: 50px 0px 0px var(--padding-left);
}

.aboutme-explain {
  width: 750px;
  padding-bottom: 100px;
  padding-right: 50px;
  float: right;
  padding-top: 50px;
}

.education-explain {
  width: 600px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.experience-explain {
  width: 600px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.contact-explain {
  width: 600px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.policy-explain {
  width: 600px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.photo > img{
  height:450px;
  weight:150px;
  float: left;
  padding-top: 50px;
}